.btn-up {
    position: fixed;
    background-color: #00C785;
    right: 35px;
    bottom: 50px;
    border-radius: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
  }
  
  .btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 50%;
    background-image: url('/public/img/Arrow1.png');
    transform: rotate(270deg)
  }